body {
  font-family: "Epilogue", system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif;
  display: block;
  /* background-color: #137123; */
  background: linear-gradient(
    69deg,
    rgba(48, 150, 201, 1) 0%,
    rgba(47, 142, 132, 1) 69%,
    rgba(47, 141, 121, 1) 100%
  );
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  margin: 1rem;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > h1 {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #363940;
}

.header > img {
  width: 10rem;
  height: 4rem;
  background-color: white;
  border-radius: 4px;
  padding: 0 1rem;
  margin: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > .item {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > .item > img {
  width: 13rem;
  border-radius: 1rem;
}

.container > .item > a {
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  color: #363940;
  width: 100px;
}
